body {
	margin: 0;
	text-align: center;
	font-family: 'Arial', sans-serif;
}

.flex {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	max-width: 510px;
}

pre {
	font-family: 'Courier New', monospace;
	font-size: 5.4vw;
	line-height: 0.54;
	letter-spacing: -1px
}

button {
	padding: 5px;
	font-size: 16px;
}

button.control-button {
	padding: 0;
	width: 60px;
	height: 60px;
	font-size: 32px;
	margin: 5px;
}

@media (min-width: 600px) {
	p {
		font-size: 20px;
	}

	pre {
		font-size: 32px;
	}

	button {
		padding: 10px 20px;
		min-height: 48px;
		font-size: 20px;
	}
}